[Unit]
Description=MixMesh service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/etc/erlang/mixmesh
ExecStart=/etc/erlang/mixmesh/mixmesh.run start
ExecStop=/etc/erlang/mixmesh/mixmesh.run stop
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mixmesh
User=pi
Group=pi
Environment=
[Install]
WantedBy= multi-user.target
