[Unit]
Description=MixMesh service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/etc/erlang/obscrete
ExecStart=/etc/erlang/obscrete/obscrete.run start
ExecStop=/etc/erlang/obscrete/obscrete.run stop
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=obscrete
User=pi
Group=pi
Environment=
[Install]
WantedBy= multi-user.target
